@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
* {
  box-sizing: border-box;
}

.accordion {
  display: flex;
  flex-direction: column;
  width: 800px;
}

.accordion-item {
  border: 1px solid #ddd;
  margin-bottom: 8px;
}

.accordion-header {
  padding: 10px;
  background-color: rgb(12, 126, 126);
  color: white;
  cursor: pointer;
  user-select: none;
}

.accordion-content {
  display: none;
  padding: 10px;
}

.accordion-item.active .accordion-content {
  display: block;
}

.table {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.single-item:nth-child(4n) {
  background-color: #60b5ee;
  color: white;
}

.single-item:nth-child(4n-1) {
  background-color: #60b5ee;
  color: white;
}

.single-item {
  width: 390px;
  border-collapse: collapse;
  border: 1px solid black;
  padding: 4px;
}